/* @group Welcome */

.welcome-tab {
 padding: 30px;
 background-color: white ;
}

.welcome-tab h1 {
 font-size: 48px;
 line-height: 1;
 margin-top: 30px;
 font-weight: normal ;
 letter-spacing: -2px;
}

.welcome-tab p {
 color: #666;
 font-size: 14px;
}

/* @end */

