<% # ========================================================================
   # Contacts.DetailController Unit Test
   # ========================================================================
%>
<% content_for('final') do %>

<script>

Test.context("Contacts.DetailController",{

  "TODO: Add your own tests here": function() {
    true.shouldEqual(true) ;
  }

}) ;

appMain = main; main = null ; // Cancel main() so app does not start

</script>

<% end %>
