[submodule "sproutcore"]
	path = sproutcore
	url = /Users/charles/Sites/sproutcore/samples/frameworks/sproutcore/.git
[submodule "frameworks/sproutcore"]
	path = frameworks/sproutcore
	url = git://github.com/sproutit/sproutcore.git
[submodule "frameworks/prototype"]
	path = frameworks/prototype
	url = git://github.com/sproutit/sproutcore-prototype.git
