body.sc-theme {
  position: relative;
}

p {
  margin: 0;
  padding: 0 4px 4px 4px;
}

.workspace_container {
  position: absolute;
  width: 250px;
  height: 300px;
  background-color: #fff;
  border:1px solid #000;
}

.sc-theme .sc-scroll-view {
  border: 0;
}

.list_view p:first-child {
  background-color: #ffe;
}

.vertical > .details_view {
  background-color: lightblue;
}

.horizontal > .details_view {
  background-color: lightblue;
}

.details_view p:first-child {
  background-color: #fef;
}

.details_view.inner {
  background-color: #666;
  color: #fff;
}

.details_view.inner p:first-child {
  background-color: darkblue;
}