/* @override 
	http://localhost:4020/static/photos/en/_cache/body-1208305764.css
	http://localhost:4020/static/photos/en/_cache/body-1208344721.css
*/

/* @group Core */

body {
	position: absolute ;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
	overflow: hidden ;
}

.workspace .sidebar {
	position: absolute;
	left:  0;
	top:  0;
	width: 200px;
	bottom: 0;
}

.workspace .sc-split-divider-view {
  position: absolute;
  left: 200px;
  top: 0;
  bottom: 0;
}

.workspace .grid_view {
	position: absolute;	
	left: 205px;
	right: 0;
	top: 0;
	bottom: 0;
	border: none ;
}

/* @end */

/* @group Sidebar */

.sidebar .source_list {
	position: absolute ;
	top: 0;
	left:  0;
	right: 0;
	bottom: 0;
	border: none ;
}

/* @end */

