/* @override 
	http://localhost:4020/static/photos/en/_cache/body-1208305764.css
	http://localhost:4020/static/photos/en/_cache/body-1208344721.css
*/

/* @group Core */

body {
	position: absolute ;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
	overflow: hidden ;
}

.toolbar {
	border-top: 1px #aaa solid;
	position: absolute ;
	bottom: 0;
	height: 48px;
	left: 0;
	right: 0;
	background-color: #dedede;
	z-index: 2;
}

.workspace {
	position: absolute ;
	left: 0;
	right: 0;
	top:  0;
	bottom: 48px;
}

.workspace .sidebar {
	position: absolute;
	left:  0;
	top:  0;
	width: 200px;
	bottom: 0;
}

.workspace .grid_view {
	position: absolute;	
	left: 200px;
	right: 0;
	top: 0;
	bottom: 0;
	border: none ;
	border-left: 1px #aaa solid;
}

/* @end */

/* @group Sidebar */

.sidebar .source_list {
	position: absolute ;
	top: 0;
	left:  0;
	right: 0;
	bottom: 0;
	border: none ;
}

/* @end */

