.button-sample .sc-label-view {
  line-height: 30px;
}

.button-box { 
  border: 1px #ccc solid;
  overflow: hidden; 
}

/*.sel { 
  border: 1px red dotted;
}

.active {
  border: 1px blue dotted;
}

.mixed {
  border: 1px green dotted;
}*/