body.sc-theme {
  background-color: #666;
}

.sc-view.sc-main.clock {
  border: 30px #888 solid;
  background: black;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  color: red;
}

.clock .sc-label-view.sc-regular-size {
  font-size: 48px !important;
  text-align: center !important;
  line-height: 1.0;
}
