@font-face {
	font-family: Silkscreen;
	src: url('slkscre.ttf');
}

.sc-theme .sc-pane.sc-main.theather_mode {
  background: black;
}

.sc-pane {
  -webkit-transition: background-color 1s ease-in-out;
}

.reflector
{ 
	-webkit-box-reflect: below 1 -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(1.0, rgba(255, 255, 255, 0.5)));
}

.sproutfont
{
  font-family: Silkscreen;
  font-size: 24px !important;
  color: grey;
}

.play
{
  background: transparent static_url('buttons.gif') no-repeat -3px 3px ;
  height: 20px;
  width: 19px;
}

.theater
{
  background: transparent static_url('buttons.gif') no-repeat -22px 3px ;
  height: 20px;
  width: 18px;
}

.minus
{
  background: transparent static_url('buttons.gif') no-repeat -52px 3px ;
  height: 20px;
  width: 20px;
}

.plus
{
  background: transparent static_url('buttons.gif') no-repeat -35px 3px ;
  height: 20px;
  width: 20px;
}

.time
{
  background : grey;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.credits
{
  color:white;
}

.sc-theme .sc-pane.sc-main {
	background-image: none !important;
}
