
@font-face {
	font-family: Silkscreen;
	src: url('slkscre.ttf');
}


.sc-theme .sc-pane.sc-main.theather_mode {
  background: black;
}

.sc-pane {
  -webkit-transition: background-color 1s ease-in-out;
}

.reflector
{ 
	-webkit-box-reflect: below 1 -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(1.0, rgba(255, 255, 255, 0.5)));
}

.sproutfont
{
  font-family: Silkscreen;
  font-size: 24px !important;
  color: grey;
}

.sel .play .img
{
  background: static_url('controls.png') no-repeat -8px 4px;  
  height: 20px;
  width: 22px;
}

.play .img
{
  background: static_url('controls.png') no-repeat 7px 4px;  
  height: 20px;
  width: 22px;
}

.theater .img
{
  background: static_url('controls.png') no-repeat -24px 4px;  
  height: 20px;
  width: 18px;
}

.minus
{
  background: static_url('controls.png') no-repeat -45px 3px;
  height: 20px;
  width: 20px;
}

.plus
{
  background: static_url('controls.png') no-repeat -60px 3px;
  height: 20px;
  width: 20px;
}

.time{
  font-size: 10px !important;
  line-height: 20px !important;
}

.credits
{
  color:white;
}

.sc-theme .sc-pane.sc-main {
	background-image: none !important;
}

.theather_mode .videoWrapper
{
  overflow: visible !important;
}
.theather_mode .reflector
{ 
  background: black;
  -webkit-box-reflect: below 1px -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.5, transparent), to(rgba(255, 255, 255, 0.496094))) 0 0 0 0 stretch stretch;
}
.properties {
  text-shadow: black 0.1em 0.1em 0.2em;
}

.controllers{
  background: black;
  opacity:0.8;
}

.sc-theme .sc-slider-view .sc-inner{
  background:white;
  height:2px;
  top:9px;
}

.sc-theme .sc-slider-view .sc-inner .sc-leftcap{
  background:white;
}

.sc-theme .sc-slider-view .sc-inner .sc-rightcap{
  background:white;
}

.sc-theme .sc-slider-view .sc-handle{
  background:white;
  height: 10px;
  width:10px;
  top:-4px;
  margin-left:-3px;
}
