.desc {
  color: white;
}

.desc h1 {
  font-size: 28px;
  line-height: 1.2;
}

.desc ul li {
	list-style-type: disc;
}

.working {
  background-color: white;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border: 1px #333 solid;
}