/* @override 
	http://localhost:4020/static/contacts/en/_cache/body-1205347283.css
	http://localhost:4020/static/contacts/en/_cache/body-1205347673.css
*/

.content {
	margin-left: auto;
	margin-right: auto;
	width: 640px;
	height: 320px ;
	border: 1px #ccc solid ;
	background-color: #e0e0e0;
	position: relative ;
}

/* @group General */

.content .master {
	position: absolute ;
	width: 180px;
	background-color: white ;
	top: 0;
	bottom: 0;
	border-right: 1px #ccc solid ;
	overflow: auto ;
}

.content .detail {
	position: absolute ;
	left: 181px;
	right: 0;
	top:  0;
	bottom:0;
	padding: 30px 20px;
}

.content .detail .buttons {
	text-align: right ;
	position: absolute ;
	bottom: 20px;
	right:  20px;
	left: 20px;
}

.content .detail .input-row {
	margin: 4px 0;
	position: relative ;
	height: 28px;
}

.content .detail .input-row label {
	line-height: 28px;	
	position: absolute ;
	width:  70px;
	text-align: right ;
}

.content .detail .input-row input {
	position: absolute ;
	font-size: 1.2em;
	right: 0px;
	left: 80px;
	top: 0px;
}



/* @end */

/* @group List Item */

div.list-item {
	padding: 4px 8px;
	cursor: pointer ;
}

div.list-item.sel {
	background-color: blue ;
	color: white ;
}

div.list-item.sel:active {
	background-color: #110086;
	color: white ;
}

div.list-item:active {
	background-color: #e6e6e6;
}

/* @end */

